<h3>Daily Stats</h3>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Total Devices
        </dt>
        <dd class="col-sm-10">
            @NumberOfDevices
        </dd>
        <dt class="col-sm-2">
            New Devices
        </dt>
        <dd class="col-sm-10">
            Todo
        </dd>
        <dt class="col-sm-2">
            C2D Count
        </dt>
        <dd class="col-sm-10">
            Todo
        </dd>
    </dl>
</div>
@* <table class="table">
    <thead>
        <tr>
            <th scope="col">Total Devices</th>
            <th scope="col">New Devices</th>
            <th scope="col">C2D Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                @NumberOfDevices
            </td>
            <td scope="row">
            </td>
            <td scope="row">
            </td>
        </tr>
    </tbody>
</table> *@