<h3>Daily Stats</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Total Devices</th>
            <th scope="col">New Devices</th>
            <th scope="col">C2D Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                @NumberOfDevices
            </td>
            <td scope="row">
            </td>
            <td scope="row">
            </td>
        </tr>
    </tbody>
</table>